<ngx-datatable #mydatatable
               class="material ngx-datatable datatable-body-row"
               [headerHeight]="50"
               [limit]="5"
               [columnMode]="ColumnMode.force"
               [footerHeight]="50"
               rowHeight="auto"
               [rows]="rows"
               [columns]="columns"
>
  <ngx-datatable-column name="Rut" prop="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Razón Social" prop="2">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Cantidad Activos" prop="3">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Activo"  prop="4">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
           </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Usuario"  prop="5">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
           </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Fecha"  prop="6">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <ng-template #editable>
            <span>
              {{ value }}
           </span>
      </ng-template>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
