<div class="form-group row"  >
  <div class="form-actions col-md-6">
  </div>
  <div class="form-actions right col-md-6" align="right" >
    <button [disabled]="editCell ? 'disabled': null"  (click)="onEdit()" type="button" class="btn right-panel-buttons btn-outline-light ">
      Editar
    </button>
    <button [disabled]="!editCell ? 'disabled': null"  (click)="onSave()"type="button" class="btn right-panel-buttons btn-success" >
      Guardar
    </button>
    <button [disabled]="!editCell ? 'disabled': null"  (click)="onCancel()" type="button" class="btn right-panel-buttons btn-outline-light" >
      Cancelar
    </button>
  </div>
</div>

