<div class="form-group row">
  <div class="form-actions col-md-6">
    <button type="button" class="btn left-panel-buttons btn-outline-light">
      Bajar Archivo
    </button>
    <button type="submit" class="btn left-panel-buttons btn-outline-light">
      Ver Resumen
    </button>
  </div>
  <div class="form-actions right col-md-6" align="right">
    <button type="button" class="btn right-panel-buttons btn-outline-light ">
      Actualizar
    </button>
  </div>
</div>
<div class="form-group row">
  <div class="col-6" style="width: 100%">
    <app-html-label-fecha-ult-act></app-html-label-fecha-ult-act>
  </div>
  <div class="col-6" style="width: 100%">
    <div class="col-md-12 border-less" style="">
      <div class="row">
        <label class="h6">Usuario:&nbsp;&nbsp;</label>
        <label class="h6">966558601</label>
      </div>
    </div>
  </div>
</div>

<div class="form-group row ">
  <div class="col-12" style="width: 100%">
    <app-ngx-datatable-nominas></app-ngx-datatable-nominas>
  </div>
</div>
