<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<!-- Horizontal navigation-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">TIPO DE CAMBIO</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">Indicadores</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">Tipo de Cambio</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content ">
                <div class="tab-content px-1 pt-1">
                  <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab">
                    <div class="form-group row">
                      <div class="form-group row col-8">
                        <div class="col-md-1  form-control border-less" style="" >
                          <label   class="h6 " >Moneda</label>
                        </div>
                        <div class="col-md-3">
                          <select class="form-control" >
                            <option value="AK">Peso Chileno</option>
                            <option value="HI">US Dolar</option>
                          </select>
                        </div>
                        <div class="col-md-1  form-control border-less" style="" >
                          <label   class="h6 " >Año</label>
                        </div>
                        <div class="col-md-2">
                          <select class="form-control" >
                            <option value="AK">2021</option>
                            <option value="HI">2020</option>
                          </select>
                        </div>
                        <div class="col-md-1  form-control border-less" style="" >
                          <label  class="h6 " >Mes</label>
                        </div>
                        <div class="col-md-2">
                          <select class="form-control" >
                            <option value="AK">Enero</option>
                            <option value="HI">Febrero</option>
                          </select>
                        </div>
                        <div class="col-md-1">
                          <button  type="button" class="btn right-panel-buttons btn-outline-light ">
                            Buscar
                          </button>
                        </div>
                      </div>
                      <div class="form-group row col-4  "  style="display: flex; justify-content: flex-end" >
                        <div class="btn-toolbar  text-right text-end" role="toolbar" aria-label="Toolbar with button groups" style="padding-bottom: 8px;">
                          <div class="btn-group float-right text-end" role="group" aria-label="First Group">
                            <button type="button" class="btn form-control right  btn-outline-light "><i class="ft-rotate-cw"></i></button>
                            <button type="button" class="btn form-control right btn-outline-light"><i class="ft-copy"></i></button>
                            <button type="button" class="btn form-control right btn-outline-light"><i class="ft-printer"></i></button>
                          </div>
                        </div>

                      </div>

                    </div>
                    <div class="form-group row">

                      <table class=" col-md-12 table display nowrap table-striped table-bordered tablaIndicadores">
                        <thead>
                        <tr>
                          <th>$ / Días</th>
                          <th>Item</th>
                          <th>Producto</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Tiger</td>
                          <td>Nixon</td>
                          <td>System Architect</td>
                          <td>Edinburgh</td>
                        </tr>
                        <tr>
                          <td>Garrett</td>
                          <td>Winters</td>
                          <td>Accountant</td>
                          <td>Tokyo</td>
                        </tr>
                        <tr>
                          <td>Ashton</td>
                          <td>Cox</td>
                          <td>Junior Technical Author</td>
                          <td>San Francisco</td>
                        </tr>
                        <tr>
                          <td>Cedric</td>
                          <td>Kelly</td>
                          <td>Senior Javascript Developer</td>
                          <td>Edinburgh</td>
                        </tr>
                        <tr>
                          <td>Airi</td>
                          <td>Satou</td>
                          <td>Accountant</td>
                          <td>Tokyo</td>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>

                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        <tr>
                          <td>Brielle</td>
                          <td>Williamson</td>
                          <td>Integration Specialist</td>
                          <td>New York</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-ayuda-layout></app-ayuda-layout>
<app-footer-layout></app-footer-layout>
<!-- END PAGE LEVEL JS-->
</body>
</html>
