<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- Menu DASHBOARD -->
<!-- Horizontal navigation-->
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border"
     role="navigation" data-menu="menu-wrapper">
  <!-- Horizontal menu content-->
  <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
    <!-- include ../../../includes/mixins-->
    <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="dropdown nav-item" data-menu="dropdown">
        <a class=" nav-link" href=""><span>Dashboard</span></a>
      </li>
      <li class="dropdown nav-item open active" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><span style="margin-right: 10px;">Administración</span></a>
        <ul class="dropdown-menu">
          <li data-menu="">
            <a class="dropdown-item" href="" data-toggle="dropdown">Tasas</a>
          </li>
          <li data-menu="">
            <a class="dropdown-item" href="" data-toggle="dropdown">Panel de Control</a>
          </li>
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Resultado Neto</a>
          </li>
          <li data-menu="">
            <a class="dropdown-item" href="" data-toggle="dropdown">Alta Proveedores</a>
          </li>
        </ul>
      </li>
      <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="" data-toggle="dropdown"><span  style="margin-right: 10px;">Operaciones</span></a>
        <ul class="dropdown-menu">
          <li data-menu="">
            <a class="dropdown-item" href="" data-toggle="dropdown">Nóminas</a>
          </li>
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Recaudación y cobranza</a>
          </li>
        </ul>
      </li>
      <li class="dropdown nav-item" data-menu="dropdown "><a class="dropdown-toggle nav-link texto-gris" href="" data-toggle="dropdown"><span style="margin-right: 10px;">Custodia</span></a>
      </li>
      <li class="dropdown nav-item" data-menu="dropdown "><a class="dropdown-toggle nav-link texto-gris" href="" data-toggle="dropdown"><span style="margin-right: 10px;">Consulta</span></a>
        <ul class="dropdown-menu">
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Ofertas Rechazadas del Día</a>
          </li>
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Ofertas Pendientes del Curse por Cuarta Copia <</a>
          </li>
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Ofertas por Proveedor</a>
          </li>
        </ul>
      </li>
      <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link texto-gris" href="" data-toggle="dropdown"><span  style="margin-right: 10px;">Indicadores</span></a>
        <ul class="dropdown-menu">
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Tipo de Cambio</a>
          </li>
        </ul>
      </li>
      <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link texto-gris" href="" data-toggle="dropdown"><span  style="margin-right: 10px;">Usuarios</span></a>
      </li>
      <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link texto-gris" href="omv-ayuda.html" data-toggle="dropdown"><span  style="margin-right: 10px;">Ayuda</span></a>
        <ul class="dropdown-menu">
          <li data-menu="">
            <a class="dropdown-item texto-gris" href="" data-toggle="dropdown">Acerca de</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
  <!-- /horizontal menu content-->
</div>
