<div class="card-content collapse show">

  <div class="tab-content px-1 pt-1">
    <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab">
      <div class="form-group row">

        <table class=" col-md-12 table display nowrap table-striped table-bordered tablaTasas">
          <thead>
          <tr>
            <th>RUT</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>FECHA INGRESO</th>
            <th>ACCIONES</th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td>14634324-2</td>
            <td>Rodrigo</td>
            <td>Olivos</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>
          </tr>
          <tr>
            <td>14634324-2</td>
            <td>David</td>
            <td>Perez</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>
          </tr>
          <tr>
            <td>14634324-2</td>
            <td>Sebastian</td>
            <td>Gonzalez</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>
          </tr>
          <tr>
            <td>14634324-2</td>
            <td>Maria</td>
            <td>Diaz</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>
          <tr>
            <td>14634324-2</td>
            <td>Jose</td>
            <td>Castro</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>

          </tr>
          <tr>
            <td>14634324-2</td>
            <td>Marta</td>
            <td>Marsol</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>
          </tr>
          <tr>
            <td>14634324-2</td>
            <td>Brielle</td>
            <td>Williamson</td>
            <td>12-09-2020</td>
            <td><button type="submit" class="btn btn-outline-light">Eliminar</button><button type="submit" class="btn btn-outline-light">Editar</button></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="tab-pane" id="tmc" role="tabpanel" aria-labelledby="tmc-tab" aria-expanded="false">
    </div>
  </div>
</div>
