<div class=" row">
  <div class="col-12" style="width: 100%">

    <div class="row">
      <div class="col-md-1  form-control border-less" style="">
        <label class="h6"> Moneda </label>
      </div>
      <div class="col-2">
        <select #mySelect (change)='onChangeMoneda(mySelect.value)' class="form-control" id="ordersMoneda">
          <option *ngFor="let order of selectMoneda; let i = index" [value]="selectMoneda[i].idMoneda ">
            {{selectMoneda[i].moneda}}
          </option>
        </select>
      </div>
    </div>

  </div>
</div>
<br>
<div class="form-group row">
  <div class="col-4" style="width: 100%">
    <app-html-label-fechaactualizacion></app-html-label-fechaactualizacion>
  </div>
  <div class="col-4" style="width: 100%">
    <app-html-label-usuario></app-html-label-usuario>
  </div>
</div>
<div class="form-group row">
  <div class="col-6" style="width: 100%">
    <div class="row">
      <div class="col-md-2  form-control border-less" style="">
        <label class="h6"> Tipo Matriz: </label>
      </div>
      <div class="col-4">
        <select class="form-control" id="orders">
          <option *ngFor="let order of selectTipoMatriz; let i = index" [value]="selectTipoMatriz[i].id ">
            {{selectTipoMatriz[i].name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6" style="width: 100%">
    <button type="button" (click)="refresh()" class="btn right-panel-buttons btn-outline-light">
      Refrescar
    </button>
    <button type="button" class="btn right-panel-buttons btn-outline-light">
      Guardar
    </button>
  </div>
  <br>
</div>
<div class=" row">
  <div class="col-md-12">
    <hr>
  </div>
  <div class=" col-md-6">
    <label class="h6">Rango de Plazos</label>

    <ngx-datatable #mydataPlazos
                   class="material ngx-datatable datatable-body-row"
                   [headerHeight]="50"
                   [limit]="5"
                   [columnMode]="ColumnMode.force"
                   [footerHeight]="50"
                   rowHeight="auto"
                   [rows]="rowsPlazos"
                   [columns]="columns"
                   [loadingIndicator]="loadingIndicator"

                   [selected]="selectedPlazos"
                   [selectionType]="SelectionType.checkbox"
                   [selectAllRowsOnPage]="false"
                   [displayCheck]="displayCheckPlazos"
                   (select)="onSelectPlazos($event)"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
      <ngx-datatable-column name="Desde(>)" prop="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <ng-container *ngIf="tasaEdit; then editable; else editable">
          </ng-container>
          <ng-template #editable>
            <span
              (click)="editingPlazos[rowIndex + '-1'] = true"
              *ngIf="!editingPlazos[rowIndex + '-1']"
            >
              {{ value.valor }}
            </span>
            <input
              autofocus
              (blur)="updateValuePlazos($event, '1', rowIndex)"
              *ngIf="editingPlazos[rowIndex + '-1']"
              type="text"
              [value]="value.valor"
            />
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Hasta(<=)" prop="2">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <ng-container *ngIf="tasaEdit; then editable; else editable">
          </ng-container>
          <ng-template #editable>
            <span
              (click)="editingPlazos[rowIndex + '-2'] = true"
              *ngIf="!editingPlazos[rowIndex + '-2']"
            >
              {{ value.valor }}
            </span>
            <input
              autofocus
              (blur)="updateValuePlazos($event, '2', rowIndex)"
              *ngIf="editingPlazos[rowIndex + '-2']"
              type="text"
              [value]="value.valor"
            />
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <br>
    <div class="form-group row">
      <div class="form-actions right col-md-12" align="right">
        <button type="button" class="btn right-panel-buttons btn-outline-light" (click)="newRowPlazos()">
          Nuevo
        </button>
        <button type="submit" class="btn right-panel-buttons btn-outline-light" (click)="onRemoveRowPlazos()"
                style="margin-right: 15px; !important;">
          Eliminar
        </button>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <label class="h6 ">Rango de Montos en $</label>

    <ngx-datatable #mydataMontos
                   class="material ngx-datatable datatable-body-row"
                   [headerHeight]="50"
                   [limit]="5"
                   [columnMode]="ColumnMode.force"
                   [footerHeight]="50"
                   rowHeight="auto"
                   [rows]="rowsMontos"
                   [columns]="columns"
                   [loadingIndicator]="loadingIndicator"

                   [selected]="selectedMontos"
                   [selectionType]="SelectionType.checkbox"
                   [selectAllRowsOnPage]="false"
                   [displayCheck]="displayCheckMontos"
                   (select)="onSelectMontos($event)"
    >
      <ngx-datatable-column
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true"
      >
      </ngx-datatable-column>
      <ngx-datatable-column name="Desde(>)" prop="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <ng-container *ngIf="tasaEdit; then editable; else editable">
          </ng-container>
          <ng-template #editable>
            <span
              (click)="editingMontos[rowIndex + '-1'] = true"
              *ngIf="!editingMontos[rowIndex + '-1']"
            >
              {{ value.valor }}
            </span>
            <input
              autofocus
              (blur)="updateValueMontos($event, '1', rowIndex)"
              *ngIf="editingMontos[rowIndex + '-1']"
              type="text"
              [value]="value.valor"
            />
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Hasta(<=)" prop="2">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <ng-container *ngIf="tasaEdit; then editable; else editable">
          </ng-container>
          <ng-template #editable>
            <span
              (click)="editingMontos[rowIndex + '-2'] = true"
              *ngIf="!editingMontos[rowIndex + '-2']"
            >
              {{ value.valor }}
            </span>
            <input
              autofocus
              (blur)="updateValueMontos($event, '2', rowIndex)"
              *ngIf="editingMontos[rowIndex + '-2']"
              type="text"
              [value]="value.valor"
            />
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <br>
    <div class="form-group row">
      <div class="form-actions right col-md-12" align="right">
        <button type="button" class="btn right-panel-buttons btn-outline-light" (click)="newRowMontos()">
          Nuevo
        </button>
        <button type="submit" class="btn right-panel-buttons btn-outline-light" (click)="onRemoveRowMontos()"
                style="margin-right: 15px; !important;">
          Eliminar
        </button>
      </div>
    </div>

  </div>

</div>
