<ngx-datatable #mydataRango
               class="material ngx-datatable datatable-body-row"
               [headerHeight]="50"
               [limit]="5"
               [columnMode]="ColumnMode.force"
               [footerHeight]="50"
               rowHeight="auto"
               [rows]="rows"
               [columns]="columns"
               [loadingIndicator]="loadingIndicator"
>
  <ngx-datatable-column name="Desde(>)" prop="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Hasta(<=)" prop="2">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <ng-container *ngIf="tasaEdit; then editable; else blocked">
      </ng-container>
      <ng-template #editable>
            <span
              (click)="editing[rowIndex + '-2'] = true"
              *ngIf="!editing[rowIndex + '-2']"
            >
              {{ value }}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, '2', rowIndex)"
          *ngIf="editing[rowIndex + '-2']"
          type="text"
          [value]="value"
        />
      </ng-template>
      <ng-template #blocked>
        <span > {{ value }} </span>
        <input
          autofocus
          (blur)="updateValue($event, '2', rowIndex)"
          *ngIf="false"
          type="text"
          [value]="value"
        />
      </ng-template>

    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

