
  <ngx-datatable #mydatatable
    class="material ngx-datatable datatable-body-row"
                 [headerHeight]="50"
                 [limit]="5"
                 [columnMode]="ColumnMode.force"
                 [footerHeight]="50"
                 rowHeight="auto"
                 [rows]="rows"
                 [columns]="columns"
  >
    <ngx-datatable-column name="$/DIAS" prop="1" >
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name=">0,<=30" prop="2">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-2'] = true"
              *ngIf="!editing[rowIndex + '-2']"
            >
              {{ value }}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, '2', rowIndex)"
          *ngIf="editing[rowIndex + '-2']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name=">30,<=60" prop="3">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-3'] = true"
              *ngIf="!editing[rowIndex + '-3']"
            >
              {{ value }}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, '3', rowIndex)"
          *ngIf="editing[rowIndex + '-3']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name=">60,<=180"  prop="4">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-4'] = true"
              *ngIf="!editing[rowIndex + '-4']">
              {{ value }}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, '4', rowIndex)"
          *ngIf="editing[rowIndex + '-4']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>
  <div class="form-group row"  >
    <div class="form-actions col-md-6">
      <button type="button" class="btn left-panel-buttons btn-outline-light">
        Generar Oferta
      </button>
      <button type="submit" class="btn left-panel-buttons btn-outline-light">
        Validar TMC
      </button>
    </div>
    <div class="form-actions right col-md-6" align="right">
      <button [disabled]="editCell ? 'disabled': null"  (click)="onEdit()" type="button" class="btn right-panel-buttons btn-outline-light">
        Editar
      </button>
      <button [disabled]="!editCell ? 'disabled': null"  (click)="onSave()" type="button" class="btn right-panel-buttons btn-success">
        Guardar
      </button>
      <button [disabled]="!editCell ? 'disabled': null"  (click)="onCancel()" type="button" class="btn right-panel-buttons btn-outline-light">
        Cancelar
      </button>
    </div>
  </div>


