<ngx-datatable #myCostoFondo
               class="material ngx-datatable datatable-body-row"
               [headerHeight]="50"
               [limit]="5"
               [columnMode]="ColumnMode.force"
               [footerHeight]="50"
               rowHeight="auto"
               [rows]="rows"
               [columns]="columns"
>
  <ngx-datatable-column name="$\Días" prop="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column  *ngFor="let columnnas of encabezadoTabla; let i = index" name="{{columnnas.rangoPlazo}}" prop="{{i+2}}">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <ng-container *ngIf="tasaEdit; then editable; else blocked">
      </ng-container>
      <ng-template #editable>
            <span
              (click)="editing[rowIndex + '-{{i+2}}'] = true"
              *ngIf="!editing[rowIndex + '-{{i+2}}']"
            >
              {{ value }}
            </span>
        <input
          autofocus
          (blur)="updateValue($event, '{{i+2}}', rowIndex)"
          *ngIf="editing[rowIndex + '-{{i+2}}']"
          type="text"
          [value]="value"
        />
      </ng-template>
      <ng-template #blocked>
        <span > {{ value }} </span>
        <input
          autofocus
          (blur)="updateValue($event, '{{i+2}}', rowIndex)"
          *ngIf="false"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
