<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<!-- Horizontal navigation-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">OPERACIONES</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">OPERACIONES</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">NÓMINAS</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="tab-content px-1 pt-1">
                <app-html-combobox-cliente-nom></app-html-combobox-cliente-nom>
                <app-html-combobox-convenio-nom></app-html-combobox-convenio-nom>
                <hr>
                <div class="form-group row col-md-12">
                  <div class="col-md-6">
                    <label  class="h6" >Datos Cliente</label>
                  </div>
                  <div class="col-md-6">
                    <label  class="h6" >Datos Convenio</label>
                  </div>
                </div>
                <div class="row col-md-12">
                  <div class="form-group col-md-6">
                    <app-html-input-rut-nom></app-html-input-rut-nom>
                    <app-html-input-razon-social></app-html-input-razon-social>
                    <app-html-input-nombre-fantasia></app-html-input-nombre-fantasia>
                  </div>
                  <div class="form-group col-md-6">
                    <app-html-input-canal-de-carga></app-html-input-canal-de-carga>
                    <app-html-input-formato></app-html-input-formato>
                  </div>
                </div>
              </div>
              <div class="card-content collapse show">
                <ul class="nav nav-tabs nav-justified" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active tabs-colors-green" id="active-tab" data-toggle="tab" href="#active"
                       aria-controls="active" aria-expanded="true">Nóminas</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link tabs-colors-green" id="tmc-tab" data-toggle="tab" href="#tmc"
                       aria-controls="tmc" aria-expanded="false"> Cargas</a>
                  </li>
                </ul>
                <div class="tab-content px-1 pt-1">
                  <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab">
                    <app-nominas-nominas></app-nominas-nominas>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="tmc" aria-labelledby="tmc-tab" aria-expanded="false">
                    <app-nominas-cargas></app-nominas-cargas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-ayuda-layout></app-ayuda-layout>
<app-layout-session-out></app-layout-session-out>
<app-footer-layout></app-footer-layout>
<!-- END PAGE LEVEL JS-->
</body>
</html>
