<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">TASAS</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">ADMINISTRACIÓN</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">TASAS</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">
                <ul class="nav nav-tabs nav-justified" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active tabs-colors-green" id="active-tab" data-toggle="tab" href="#active" aria-controls="active"
                       aria-expanded="true">Costo Fondo</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link tabs-colors-green" id="tmc-tab" data-toggle="tab" href="#tmc" aria-controls="tmc" aria-expanded="false"> TMC</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link tabs-colors-green" id="matriz-tab" data-toggle="tab" href="#matriz" aria-controls="matriz" aria-expanded="false" >Matriz</a>
                  </li>
                </ul>
                <div class="tab-content px-1 pt-1">
                  <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab">

                    <div class=" row">
                      <div class="col-12" style="width: 100%">
                      <app-html-combobox-moneda (monedaEmitter) = "monedaActual = $event" ></app-html-combobox-moneda>
                      </div>
                    </div>
                    <br>
                    <div class="form-group row" >
                      <div class="col-4" style="width: 100%">
                      <app-html-label-fechaactualizacion></app-html-label-fechaactualizacion>
                      </div>
                      <div class="col-4" style="width: 100%">
                      <app-html-label-usuario></app-html-label-usuario>
                      </div>
                    </div>
                    <div class="form-group row ">
                      <div class="col-12" style="width: 100%">
                        <app-tabla-tasas [tasaEdit] ="edicionTabla" [idTipoMoneda]="monedaActual" ></app-tabla-tasas>
                        <br>
                        <app-html-botonera-tabla (editCellEmitter) = "edicionTabla = $event"> </app-html-botonera-tabla>
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <br>
                      <label  class="h6 col-md-12" >Resultado Validacion TMC</label>
                    </div>
                    <div class="form-group row ">
                      <div class="col-12" style="width: 100%">
                        <app-ngx-datatable-resultado></app-ngx-datatable-resultado>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="tmc" role="tabpanel" aria-labelledby="tmc-tab" aria-expanded="false">
                    <div class=" row">
                      <div class="col-12" style="width: 100%">
                        <app-html-combobox-moneda></app-html-combobox-moneda>
                      </div>
                    </div>
                    <br>
                    <div class="form-group row" >
                      <div class="col-4" style="width: 100%">
                        <app-html-label-fechaactualizacion></app-html-label-fechaactualizacion>
                      </div>
                      <div class="col-4" style="width: 100%">
                        <app-html-label-usuario></app-html-label-usuario>
                      </div>
                    </div>
                    <div class="form-group row ">
                      <div class="col-12" style="width: 100%">
                       <app-ngx-datatable-tmc></app-ngx-datatable-tmc>
                        <br>
                        <app-html-botonera-tmc></app-html-botonera-tmc>
                      </div>
                    </div>

                  </div>
                  <div class="tab-pane" id="matriz" role="tabpanel" aria-labelledby="matriz-tab" aria-expanded="false">
                    <div class=" row">
                      <div class="col-12" style="width: 100%">
                        <app-html-combobox-moneda></app-html-combobox-moneda>
                      </div>
                    </div>
                    <br>
                    <div class="form-group row" >
                      <div class="col-4" style="width: 100%">
                        <app-html-label-fechaactualizacion></app-html-label-fechaactualizacion>
                      </div>
                      <div class="col-4" style="width: 100%">
                        <app-html-label-usuario></app-html-label-usuario>
                      </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6" style="width: 100%">
                          <app-html-combobox-tipomatriz></app-html-combobox-tipomatriz>
                        </div>
                        <div class="col-6" style="width: 100%">
                          <app-html-botonera-tablasmatriz></app-html-botonera-tablasmatriz>
                        </div>
                      <br>
                    </div>
                    <div class=" row">
                      <div class="col-md-12" >
                        <hr>
                      </div>
                      <div class=" col-md-6" >
                        <label  class="h6" >Rango de Plazos</label>
                        <app-ngx-datatable-rangoplazos></app-ngx-datatable-rangoplazos>
                        <br>
                        <div class="form-group row"  >
                          <app-html-botonera-matrizguardar></app-html-botonera-matrizguardar>
                        </div>
                      </div>
                      <div class="col-md-6" >
                        <label  class="h6 " >Rango de Montos en $</label>
                        <app-ngx-datatable-rangomontos></app-ngx-datatable-rangomontos>
                        <br>
                        <div class="form-group row"  >
                          <app-html-botonera-matrizguardar></app-html-botonera-matrizguardar>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-ayuda-layout></app-ayuda-layout>
<app-footer-layout></app-footer-layout>
</body>
</html>
