<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<!-- Horizontal navigation-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">CONSULTAS</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">CONSULTAS</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">OFERTAS POR PROVEEDOR</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="tab-content px-1 pt-1">
                <div class="form-group row col-md-12 ">

                  <div class="col-md-2  form-control border-less" style="" >
                    <label  for="default-select" class="h6 " >Rut:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <button  type="button" class="btn right-panel-buttons btn-outline-light ">
                      Buscar
                    </button>
                  </div>
                  <div class="col-md-2  form-control border-less" style="" >
                    <label  for="default-select" class="h6 " >Cliente:</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" id="default-select1">
                      <option value="AK">Seleccione..</option>
                    </select>
                  </div>
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-2  form-control border-less" style="" >
                    <label  for="default-select" class="h6 " >Convenio:</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" id="default-select">
                      <option value="AK">Seleccione..</option>
                    </select>
                  </div>
                </div>
                <hr>
              </div>
              <div class="card-content collapse show">
                <div class="tab-content px-1 pt-1">
                  <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab">
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label  class="h5 texto-verde  px-1 pt-1" >Resumen </label>
                        <button type="button" class="btn float-right  btn-outline-light" style="margin-right: 15px;"><i class="ft-copy"></i></button>
                        <table class="  table display  table-striped table-bordered  PanelResultado ">
                          <thead>
                          <tr>
                            <th>Resumen</th>
                            <th>Cantidad Ofertas</th>
                            <th>Monto Ofertas</th>
                            <th>Cantidad Cursadas </th>
                            <th>Monto Cursadas</th>
                            <th>Cantidad No Cursadas</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-12  px-1 pt-1 "  >

                        <ul class="nav nav-tabs nav-justified  px-1 pt-1" id="pills-tab2" role="tablist">
                          <li class="nav-item" role="presentation">
                            <a class="nav-link tabs-colors-green active" id="active2-tab" data-toggle="tab" href="#active2" aria-controls="active2"
                               aria-expanded="true">Línea</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link tabs-colors-green" id="tmc-tab2" data-toggle="tab" href="#tmc" aria-controls="tmc" aria-expanded="false">Vigentes</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link tabs-colors-green"  data-toggle="tab" href="#" aria-controls="" aria-expanded="false" >Pendientes</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link tabs-colors-green"  data-toggle="tab" href="#" aria-controls="" aria-expanded="false" >Rechazadas</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link tabs-colors-green"  data-toggle="tab" href="#" aria-controls="" aria-expanded="false" >Cursadas</a>
                          </li>
                        </ul>
                        <br>
                        <app-ofertas-por-proveedor-linea></app-ofertas-por-proveedor-linea>
                      </div>
                    </div>
                  </div>
                  <app-ofertas-por-proveedor-vigentes></app-ofertas-por-proveedor-vigentes>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-ayuda-layout></app-ayuda-layout>
<app-footer-layout></app-footer-layout>
<!-- END PAGE LEVEL JS-->
</body>
</html>
