<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<!-- Horizontal navigation-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">CONSULTAS</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">CONSULTAS</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">OFERTAS PENDIENTES DEL CURSE POR CUARTA COPIA</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="tab-content px-1 pt-1">
                <div class="form-group row col-md-12 ">

                  <div class="col-md-2  form-control border-less" style="" >
                    <label  for="default-select" class="h6 " >Rut:</label>
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <button  type="button" class="btn right-panel-buttons btn-outline-light ">
                      Buscar
                    </button>
                  </div>

                  <div class="col-md-2  form-control border-less" style="" >
                    <label  for="default-select" class="h6 " >Convenio:</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" id="default-select">
                      <option value="AK">Seleccione..</option>
                    </select>
                  </div>
                </div>

                <hr>


              </div>
              <div class="card-content collapse show">
                <div class="tab-content px-1 pt-1">
                  <div role="tabpanel" class="tab-pane active in" id="active" aria-labelledby="active-tab">



                    <div class="form-group row">

                      <div class="col-md-12  "  >

                        <label  class="h5 texto-verde  px-1 pt-1" >Ofertas Pendientes&nbsp;&nbsp;</label>
                        <button type="button" class="btn float-right btn-outline-light" style="margin-right: 15px;"><i class="ft-copy"></i></button>
                        <table class=" col-md-12 table display nowrap table-striped table-bordered tablaTasas">
                          <thead>
                          <tr>
                            <th>Convenios</th>
                            <th>Rut Proveedor</th>
                            <th>Proveedor</th>
                            <th>Time Stamp</th>
                            <th> ID Oferta</th>
                            <th>Medio de Pago</th>
                            <th>Monto Original</th>
                            <th>Descuento</th>
                            <th>Anticipo</th>
                            <th>Cant Doctos</th>
                            <th>Cant Doctos Custodia</th>
                            <th>Montos Custodia</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>


                          </tbody>
                        </table>
                      </div>
                      <br>
                      <div class="col-md-12  "  >
                        <br> <br>
                        <label  class="h5 texto-verde  px-1 pt-1" >Documentos de la Oferta&nbsp;&nbsp;</label>
                        <button type="button" class="btn float-right btn-outline-light" style="margin-right: 15px;"><i class="ft-copy"></i></button>
                        <table class=" col-md-12 table display nowrap table-striped table-bordered tablaTasas">
                          <thead>
                          <tr>
                            <th>Tipo de Docto</th>
                            <th>Número de Docto</th>
                            <th>Monto de Docto</th>
                            <th>Ingreso a Custodia</th>

                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                          </tr>



                          </tbody>
                        </table>
                      </div>

                    </div>

                  </div>
                  <div class="tab-pane" id="tmc" role="tabpanel" aria-labelledby="tmc-tab" aria-expanded="false">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-ayuda-layout></app-ayuda-layout>
<app-footer-layout></app-footer-layout>
<!-- END PAGE LEVEL JS-->
</body>
</html>
