<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<!-- Horizontal navigation-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">ALTA DE PROVEEDORES</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">ADMINISTRACIÓN</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">ALTA DE PROVEEDORES</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <app-ngx-tabla-alta-proveedores></app-ngx-tabla-alta-proveedores>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-ayuda-layout></app-ayuda-layout>
<app-layout-session-out></app-layout-session-out>
<app-footer-layout></app-footer-layout>
</body>
</html>
