<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<app-header-layout></app-header-layout>
<app-title-layout></app-title-layout>
<body class="horizontal-layout horizontal-menu 2-columns   menu-expanded" data-open="click"
      data-menu="horizontal-menu" data-col="2-columns">
<app-navbar></app-navbar>
<!-- Horizontal navigation-->
<div class="app-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="h5 mb-0">ALTA DE PROVEEDORES</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html" class="texto-verde">ADMINISTRACIÓN</a>
              </li>
              <li class="breadcrumb-item"><a href="#" class="texto-verde">ALTA DE PROVEEDORES</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-size" >
      <!-- Base style table -->
      <section id="base-style">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content collapse show">

                <div class="tab-content px-1 pt-1">
                  <div  class="tab-pane active in" id="active" aria-labelledby="active-tab">

                    <div class="form-group row">
                      <div class="col-md-2  form-control border-less" style="" >
                        <label  for="default-select" class="h6 " >Rut Proveedor</label>
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control">
                      </div>
                      <div class="col-md-1">
                        <button  type="button" class="btn right-panel-buttons btn-outline-light ">
                          Buscar
                        </button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-2  form-control border-less" style="" >
                        <label  for="default-select" class="h6 " >Razón Social</label>
                      </div>
                      <div class="col-md-4">
                        <select class="form-control" id="default-select">
                          <option value="AK">Seleccione..</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-4  border-less" style="" >
                        <label  class="h6" >Fecha última Actualización:&nbsp;&nbsp;</label>
                        <label  class="h6" >20/20/1990</label>
                      </div>
                    </div>
                    <div class="form-group row">

                      <table class=" col-md-12 table display nowrap table-striped table-bordered tablaTasas">
                        <thead>
                        <tr>
                          <th>$ / Días</th>
                          <th>Nombre Item</th>
                          <th>Producto</th>
                          <th>Producto</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td> </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>  </td>
                          <td> </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>  </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        <tr>
                          <td></td>
                          <td></td>
                          <td> </td>
                          <td> </td>

                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td> </td>
                          <td> </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td> </td>
                          <td> </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td> </td>
                          <td> </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="form-group row"  >

                      <div class="form-actions right col-md-12" align="right" >

                        <button type="submit" class="btn  btn-success" >
                          Guardar Cambios
                        </button>

                      </div>
                    </div>
                    <br>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-footer-layout></app-footer-layout>
</body>
</html>
