<div class="col-md-4 ">
  <label class="h5 texto-verde  px-1 pt-1">Proximos Cobros </label>
  <button type="button" class="btn float-right  btn-outline-light" style="margin-right: 15px;"><i class="ft-copy"></i>
  </button>
  <table class="  table display  table-striped table-bordered  tablaTasas ">
    <thead>
    <tr>
      <th>$ / Días</th>
      <th>Item</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>

    <tr>
      <td></td>
      <td></td>


    </tr>
    <tr>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>

    </tr>
    </tbody>
  </table>
</div>
