<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="rutempresa">rutempresa</label>
        <input
          type="text"
          class="form-control"
          id="rutempresa"
          name="rutempresa"
          [(ngModel)]="form.rutempresa"
          required
          minlength="3"
          maxlength="20"
          #rutempresa="ngModel"
        />
        <div class="alert-danger" *ngIf="rutempresa.errors && f.submitted">
          <div *ngIf="rutempresa.errors.required">rutempresa is required</div>
          <div *ngIf="rutempresa.errors.minlength">
            rutempresa must be at least 3 characters
          </div>
          <div *ngIf="rutempresa.errors.maxlength">
            rutempresa must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="rutpersona">rutpersona</label>
        <input
          type="text"
          class="form-control"
          id="rutpersona"
          name="rutpersona"
          [(ngModel)]="form.rutpersona"
          required
          #rutpersona="ngModel"
        />
        <div class="alert-danger" *ngIf="rutpersona.errors && f.submitted">
          <div *ngIf="rutpersona.errors.required">rutpersona is required</div>
          <div *ngIf="rutpersona.errors.rutpersona">
            rutpersona must be a valid rutpersona address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
