<ngx-datatable #mydatatable
               class="material ngx-datatable datatable-body-row"
               [headerHeight]="50"
               [limit]="5"
               [columnMode]="ColumnMode.force"
               [footerHeight]="50"
               rowHeight="auto"
               [rows]="rows"
               [columns]="columns"
>
  <ngx-datatable-column name="$/Dias" prop="1" >
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name=">0,<=30" prop="2">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name=">30,<=60" prop="3">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name=">60,<=180"  prop="4">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span>
              {{ value }}
           </span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

