<label  class="h5 texto-verde  px-1 pt-1" >Ofertas Proveedor&nbsp;&nbsp;</label>
<button type="button" class="btn float-right btn-outline-light" style="margin-right: 15px;"><i class="ft-copy"></i></button>
<table class=" col-md-12 table display nowrap table-striped table-bordered tablaTasas">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Monto</th>
    <th>Comis/Gtos</th>
    <th>Intereses</th>
    <th>DeudaActualizada</th>
    <th>TotalAcumulado</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>


  </tbody>
</table>
<div class="col-md-12 float-right">
  <button  type="button" class="btn  btn-success ">
    Cursar Oferta
  </button>
</div>
